.paginationContainer {
    margin-bottom: 50px;
    width: 100%;
    .MuiPagination-ul {
        justify-content: center;
        .Mui-disabled {
            background: var(--primary-color);
            svg {
                fill: var(--bg-color);
            }
        }
        .Mui-selected.MuiPaginationItem-page {
            color: var(--bg-color);
            background: var(--primary-color);
            border: 1px solid var(--primary-color);
            border-radius: 5px;
        }
        .MuiPaginationItem-page {
            color: var(--primary-color);
            font-weight: 600;
            border: 1px solid var(--primary-color);
            height: 32px;
            border-radius: 5px;
        }
    }
}
