@import "@/styles/mixins";
.container {
  width: 100%;
  aspect-ratio: 1.16/1;
  background-color: var(--bg-color);
  border-radius: 0px 30px 0px 30px !important;
  border: 2px solid var(--primary-color);
  @include flex();
  overflow: hidden;
  position: relative;
  @include border-radius();
  @include transition();

  > div {
    position: relative !important;
    @include flex();
  }
  img {
    object-fit: contain;
    height: 100% !important;
    position: relative !important;
    width: 100% !important;
  }
  &:hover {
    & img {
      transform: scale(90%);
    }
  }

  & div {
    width: 90%;
    height: 90%;
    position: relative;
    z-index: 0;
    & img {
      @include transition(600ms);
      background-size: contain !important;
    }
  }
}

.anim::before {
  content: "";
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background-color: var(--border-color);
  position: absolute;
  top: -42%;
  left: -12%;
  @include transition(400ms);
}

.placeholderImage {
  left: 5%;
}
