.formGroup {
  margin-bottom: 14px;
  width: 100%;
  input {
    margin-bottom: 2px !important;
  }
  span {
    font-size: 0.8rem;
    padding: 0 3px;
    color: var(--error-color);
    font-weight: 400;
    display: block;
  }
}

.headingColor {
  color: var(--primary-color) !important;
}

.submitLoading {
  background: var(--bg-color-darker) !important;
  cursor: not-allowed;
}

.loginError {
  color: var(--error-color);
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: -20px;
}
