@import "@/styles/mixins";
.swiperContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
    > span {
        width: 95% !important;
        margin: 0 9px;
        border-radius: 10px;
        height: 400px !important;
        @include responsive-sm() {
            height: 164px !important;
        }
        &:first-child {
            margin-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:nth-child(2) {
            flex: 0 0 87%;
            @include responsive-sm() {
                flex: 0 0 80%;
            }
        }
        &:last-child{ 
            margin-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}