.mainContainer {
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color:var(--primary-color);
  color:var(--text-color);
  border-radius:12px;
  margin-top:20px;
  margin-bottom:20px;
}

.titleContainer {
  margin-top: 30px;
  padding: 0 0 20px;
  transition: 500ms ease-in-out;
  .content {
    a {
      color: var(--secondary-color);
      text-decoration: none;
    }
  }
  .content,
  .contentShowFull {
    height: 150px;
    overflow: hidden;
    .aboutHeading {
      font-size: 2rem;
      margin-bottom: 10px;
      font-weight: 600;
    }
    h1 {
      margin-bottom: 15px;
    }
    p {
      padding: 0 0 15px;
      font-size: 0.8rem;
    }
    h2 {
      font-weight: 600;
      color: var(--bg-color);
      font-family: "DINNextLTArabic";
      line-height: 1.2;
      font-size: 1.3rem;
      padding-bottom: 5px;
    }

    ul {
      list-style: none;
      padding: 10px 0 0;
      li {
        padding: 5px 0;
        font-size: 0.8rem;
        strong {
          color: var(--secondary-color);
        }
      }
    }
  }

  .content h2{
    color:var(--text-color);
  }
  .contentShowFull {
    height: 100%;
  }
  .SeeMoreBtn,
  .SeeMoreBtnOpened {
    width: 100%;
    padding: 50px 0 20px;
    text-align: center;
    background: linear-gradient(360deg, var(--primary-color) 50%, transparent);
    margin-top: -50px;
    position: relative;
    z-index: 3;
    button {
      background: var(--secondary-color);
      color: var(--bg-color);
      font-weight: 400;
      padding: 12px 16px 14px;
      margin: 0 5px;
      border-radius: 12px;
      font-weight: 600;
      transition: 200ms ease-in-out;
      font-size: 0.8rem;
    }
  }
  .SeeMoreBtnOpened {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: transparent;
    margin-top: 0;
    position: relative;
    z-index: 3;
  }
}
