@import "@/styles/mixins";

header {
    .search {
        width: 280px;
        font-weight: 400;
        position: relative;
        margin-bottom: 20px;
        @include responsive-sm() {
            flex: 0.7;
        }
    }
}

.searchIconWrapper {
    left: 0 !important;
    right: initial !important;
    svg {
        width: 16px;
        height: 16px;
    }
}

.searchResultBox {
    position: absolute;
    z-index: 130;
    width: 100%;
    ul {
        @include list-style();
        background: var(--text-color-alt);
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid var(--border-color);
        border-top: 0;
        max-height: 200px;
        overflow: auto;
        &::before {
            content: "";
            position: absolute;
            top: -14px;
            left: 0;
            width: 1px;
            height: 30px;
            background: var(--border-color);
        }
        &::after {
            content: "";
            position: absolute;
            top: -14px;
            right: 0;
            width: 1px;
            height: 30px;
            background: var(--border-color);
        }
        &::-webkit-scrollbar {
            display: none;
        }
        li {
            &:last-child {
                a {
                    border-bottom: 0;
                }
            }
            a {
                text-decoration: none;
                padding: 10px;
                color: var(--text-color);
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                border-bottom: 1px solid var(--text-color-lightgrey);
                font-size: 0.9rem;
            }
        }
    }
    .viewAll {
        text-align: center;
        border: 1px solid var(--border-color);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top: 0;
        background: var(--text-color-alt);
        padding: 26px 16px 22px;
        margin-top: -10px;
        z-index: -2;
        position: relative;
        button {
            @include ButtonReset();
            box-shadow: 0 1px 0 var(--text-color);
            color: var(--text-color);
            font-size: 0.8rem;
        }
    }
}
.searchBoxClosed {
    display: none;
}

.search {
    position: relative;
    .searchResultBox {
        ul {
            border: 1px solid var(--border-color);
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            border-top: 0;
            // height: 300px;
            max-height: 600px;
            li {
                padding: 10px;
                border-bottom: 1px solid var(--border-color);
            }
        }
    }
}
.addressSearch {
    input {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 45px !important;
        padding-right: 35px !important;
    }
}

.textRemove {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    right: 12px;
    button {
        @include ButtonReset();
        svg {
            width: 15px;
            height: 15px;
        }
    }
}

.error {
    font-size: 0.8rem;
    color: var(--error-color);
    font-weight: 500;
}
