@import '@/styles/mixins';

.SectionLoader {
  width: 100%;
  text-align: center;
  margin: 40px 0 50px;
  svg {
    width: 75px;
    height: 75px;
    @include keyframes(rotate) {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @include animate(rotate, 3s, linear, infinite, forwards);
  }
}
