@import "@/styles/mixins";
@import "@/styles/variables";

.titleContainer {
  @include flex(space-between, center, row, wrap);
  margin-bottom: 10px;
  h1 {
    align-self: flex-end;
    margin-bottom: 0;
    font-weight: 600;
    @include responsive-2xl() {
      position: relative;
      top: 0;
      // margin-left: 20px;
    }
    @include responsive-md() {
      margin-left: 0;
    }
    @include responsive-sm() {
      margin-left: 0;
      color: var(--primary-color) !important;
      padding-left: 0;
    }
  }
  .viewAllBtn {
    background-color: var(--secondary-color);
    color: var(--bg-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 0.8rem;
    @include responsive-md() {
      font-size: 0.7rem;
    }
  }
}
.container {
  width: 100%;
  @include page-padding-horizontal();
  @include padding-vertical(1.5rem);
  @include flex();
  flex-direction: column;
  @include transition();
  @include responsive-xs() {
    padding: 0.75rem 0;
  }
}

.grid {
  max-width: 100%;
  @include flex();

  @include responsive-sm() {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
  }
}
.slide {
  text-align: center;
}
.imageContainer {
  width: 9rem;
  height: 9rem;
  position: relative;
  display: inline-block;
  @include responsive-lg() {
    width: 8rem;
  }
  @include responsive-md() {
    width: 7rem;
  }
  @include responsive-2xs() {
    width: 5rem;
    height: 7rem;
  }
}
.mainContainer {
  overflow: hidden;
  @include responsive-sm() {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  // background-color: #d4e9e5;
  // padding: 1.5rem;
  // border-radius: 20px;
  // margin-bottom: 20px;
}
