.submenu.hasSubSubmenu {
  background: black;
}

.titleText {
  color: white !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

.subtitleText {
  color: var(--secondary-color) !important;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
  &:hover {
    color: white !important;
  }
}
