@import "@/styles/mixins";

.header {
  padding: 30px 0 0px;
  z-index: 8;
  // background: linear-gradient(145deg, #f8faf9 0%, #e8f5f2 100%);
  background: var(--bg-color);
  @include responsive-sm() {
    display: none;
  }
  @include keyframes(fadeIn) {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &.isSticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0 0px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    @include animate(fadeIn, 500ms, ease-in-out, 1, forwards);
  }
}
.languageToggle {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.langBtn {
  padding: 11px 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  transition: all 0.3s ease;
  margin: 0 2px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  background-color: transparent;
  
  &.active {
    background: var(--primary-color);
    color: var(--text-color-alt);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  &:hover:not(.active) {
    background: var(--primary-color);
    opacity: 0.8;
    color: var(--bg-color);
  }

  @include responsive-xl() {
    font-size: 0.8rem;
    padding: 11px 14px;
  }
  
  @include responsive-md() {
    padding: 8px 12px;
  }
}

.languageSelector {
  margin-left: 15px;
  min-width: 120px;
  height: 40px;
  background-color: var(--text-color-alt);
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}

.instantOrder {
  margin: 0 0 0 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  white-space: nowrap;
  @include responsive-xl() {
    margin: 0 0 0 10px;
    font-size: 0.8rem;
    padding: 11px 14px;
  }
  @include responsive-md() {
    display: none;
  }
  svg {
    margin-right: 9px;
  }
}
.categoryDiv {
  background: var(--primary-color);
  padding: 5px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 7;
}

.categoryMenu {
  @include flex(center, center);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @include responsive-lg() {
    display: none;
  }
  > li {
    > ul > li {
      > &:last-child {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }
  li {
    @include flex(center, center);
    padding: 0 5px;
    flex-grow: 1;
    position: relative;
    &:first-child {
      padding-left: 0;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
    &:last-child {
      padding-right: 0;
    }
    &:hover {
      > ul {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
    a {
      @include flex(center, center);
      font-size: 13px;
      text-decoration: none;
      color: inherit;
      text-transform: capitalize;
      padding: 8px 0 8px;
      width: 100%;
      @include responsive-xl() {
        font-size: 12px;
      }
      &:hover {
        color: var(--text-color-alt);
        img {
          filter: invert(0) sepia(0) saturate(0%) hue-rotate(0) brightness(195%)
            contrast(102%);
        }
      }
      svg {
        width: 18px;
        height: 18px;
        padding-left: 5px;
        @include responsive-xl() {
          width: 15px;
          height: 15px;
        }
        path {
          stroke: #008176;
        }
      }
    }
    > ul {
      position: absolute;
      top: 50px;
      z-index: 2;
      background-color: var(--bg-color);
      border: 1px solid var(--shadow-color);
      padding: 0;
      max-width: 220px;
      width: 400px;
      border-radius: 12px;
      transform: translateY(10px);
      opacity: 0;
      visibility: hidden;
      transition: 500ms ease-in-out;
      z-index: 2000;
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 10px solid var(--primary-color);
      }
      li {
        position: initial;
        padding: 0;
        width: 100%;
        overflow: hidden;
        a {
          padding: 11px 18px 11px 18px;
          width: 100%;
          justify-content: flex-start;
          border-bottom: 1px solid var(--shadow-color);
          justify-content: space-between;
          transition: 200ms ease-in-out;
          &:hover {
            background: var(--primary-color);
            color: var(--text-color-alt);
            transform: scale(1);
          }
        }
        &:hover {
          > a {
            background: var(--primary-color);
            color: var(--text-color-alt);
            img {
              filter: invert(0) sepia(0) saturate(0%) hue-rotate(0)
                brightness(195%) contrast(102%);
            }
          }
          > ul {
            transform: translateY(0) translateX(0);
            opacity: 1;
            visibility: visible;
            min-height: 100%;
          }
        }
        > ul {
          min-height: 100%;
          > li {
            > ul {
              overflow: auto !important;
              height: 100%;
            }
          }
        }
        ul {
          top: -1px;
          left: 100%;
          transform: translateY(0) translateX(10px);
          opacity: 0;
          visibility: hidden;
          transition: 500ms ease-in-out;
          &::before {
            content: none;
          }
        }
      }
    }
  }
  > li {
    &:first-child {
      ul {
        left: 0;
        &::before {
          left: 30px;
          right: initial;
          transform: translateX(0);
        }
        > li {
          > ul {
            left: 95%;
            // right: ini;
            transform: translateX(10px);
            a {
              flex-direction: row;
              // img {
              //     transform: rotate(180deg);
              // }
            }
          }
        }
      }
    }
    &:last-child {
      right: 0;
      ul {
        &::before {
          left: initial;
          right: 60px;
          transform: translateX(0);
        }
        > li {
          > a {
            flex-direction: row-reverse;
            img {
              transform: rotate(180deg);
            }
          }
          > ul {
            left: initial;
            right: 95%;
            transform: translateX(-10px);
            a {
              flex-direction: row;
              img {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}
