@import "@/styles/mixins";

.footer {
  display: block;
  @include responsive-sm() {
    display: none;
  }
  
  .topFooter {
    background-color: var(--bg-color);
    padding: 40px 0 20px;
    
    .topFooterContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .logoSection {
        max-width: 50%;
      }
      
      .footerLogo {
        @include responsive-lg() {
          width: 100%;
          height: auto;
        }
        @include responsive-md() {
          width: 250px;
          max-width: 100%;
          height: auto;
        }
      }
    }
    
    p {
      color: var(--primary-color);
      font-size: 0.9rem;

      a {
        color: var(--bg-color);
      }
    }
    
    .SocialList {
      @include flex(flex-end, flex-start, column);
      p {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 1.25rem;
      }
      li {
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        a {
          display: inline-block;
          padding: 0 8px;
        }
      }
    }
  }
  
  .mainFooter {
    background-color: var(--primary-color);
    padding: 40px 0;
    
    h6 {
      color: var(--bg-color);
      font-weight: 700;
      line-height: 1;
      font-size: 1.25rem;
      margin-bottom: 30px;
    }

    .Links {
      color: var(--bg-color);
      font-family: "DINNextLTArabic";
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
      font-size: 0.9rem;
      font-weight: 400;
    }
    
    p {
      color: var(--bg-color);
      font-size: 0.9rem;

      a {
        color: var(--bg-color);
      }
    }
  }

  .bottomFooter {
    background: var(--secondary-color);
    padding: 15px 0;

    p {
      font-size: 0.8rem;
      color: var(--bg-color);
    }

    ul {
      @include flex();
      @include list-style();
      li {
        a {
          text-decoration: none;
          color: var(--bg-color);
          font-size: 0.8rem;
        }
      }
    }
  }
  
  .pipeLine {
    span {
      padding: 0 10px;
      color: var(--bg-color);
      line-height: 1;
      transform: translateY(2px);
      display: inline-block;
    }
  }

  ul {
    @include flex(flex-start);
    @include list-style();
    li {
      a {
        text-decoration: none;
        color: var(--bg-color);
        font-size: 0.8rem;
      }
    }
  }
}
